---
const { figures } = Astro.props;
---

<section class="overflow-none col-span-full figures w-full bg-black/10 my-8 min-h-screen not-prose">
  <div class="grid gap-8 grid-flow-col auto-cols-max overflow-x-scroll min-h-full md:pl-[10vw]">
    {
      figures.map((figure, index) => (
        <figure class="max-h-full">
          {figure.srcType === "image" && <img src={figure.src} alt={figure.caption} class="max-h-[80vh] " />}
          <figcaption class="prose px-8">{figure.caption}</figcaption>
        </figure>
      ))
    }
  </div>
</section>
<style></style>
